@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html {
  font-family: "Press Start 2P", system-ui;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  overflow: hidden;
}


/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh;
  background-image: url('./images/TheravadaBackground.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3em;
  animation: fadeInDown 2s;
  color: #ff00ff;
  background-color: rgb(140, 70, 231);
  padding: 20px;
  border-radius: 30px;
  

}

.hero p {
  font-size: 1.2em;
  margin-top: 20px;
  animation: fadeInUp 2s;
  color: #ff00ff;
  background-color: rgba(255, 255, 255, 0.722);
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;
  word-wrap: break-word;
}

.hero-button,
.home-back-button {
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 1em;
  background-color: #ff00ff;
  color: #fff;
  border: none;
  cursor: pointer;
  animation: pulse 2s infinite;
  display: block;
  margin: auto;
  text-decoration: none;
   
}

.button-link {
  text-decoration: none; /* Ensure there's no underline */
  color: white; /* Inherit the parent color, ensuring it's not blue */
}

.hero-button:hover,
.home-back-button:hover {
  background-color: #ff69b4;
}

.h2 {
  text-align: center;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #ff00ff;
  }
  50% {
    box-shadow: 0 0 20px #ff00ff;
  }
  100% {
    box-shadow: 0 0 5px #ff00ff;
  }
}

/* Responsive Design */
@media (max-width: 1200px) {
  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1.1em;
  }

  .hero-button,
  .home-back-button {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.6em;
  }

  .hero p {
    font-size: 1em;
  }

  .hero-button,
  .home-back-button {
    padding: 12px 25px;
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 4px;
    padding: 10 5px;
  }

  .hero p {
    font-size: 0.9em;
    padding: 8px;
  }

  .hero-button,
  .home-back-button {
    padding: 10px 20px;
    font-size: 0.8em;
  }
}

/* Community Section */
.community {
  padding: 60px 20px;
  background-color: #fa63ff;
  text-align: center;
}

.community h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logos a {
  margin: 15px;
  display: inline-block;
  transition: transform 0.3s;
}

.logos a:hover {
  transform: scale(1.1);
}

.logos img {
  width: 80px;
  height: auto;
}

/* About Section */
.about {
  padding: 60px 20px;
  background-color: #ffffff;
  color: #ccc;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1em;
  line-height: 1.6;
}

.about a {
  color: #ff00ff;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1em;
  }

  .hero-button {
    padding: 10px 20px;
    font-size: 0.8em;
  }

  .logos img {
    width: 60px;
  }
}
